*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: rgb(28, 28, 36);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 20px;
    overflow-x: hidden;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.fullscreen {
    padding: 20px 20px;
    min-height: 100vh;
    background-color: rgb(14, 15, 20);
    background-image: url("img/Paral_art.png");
    background-position: center center;
    background-repeat: no-repeat;
    /* fixed переделать позже */
    background-attachment: fixed; 
    background-size: cover;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.fullscreen_body {
    background-color: rgba(47, 47, 59, 0.322);
    flex: 1 1 auto;
    width: 100%;
    max-width: 700px;
    /* max-height: 70vh; */
    margin: 80px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    z-index: 1000;
}

.fullscreen_title {
    font-size: 50px;
    margin: 0px 0px 30px 0px;
}

.fullscreen_text {
    font-size: 25px;
    margin: 0px 0px 140px 0px;
}

.fullscreen_link {
    background-color: rgb(190, 35, 48);
    display: inline-block;
    line-height: 50px;
    text-transform: uppercase;
    color: azure;
    text-decoration: none;
    letter-spacing: 2px;
    align-self: center;
    margin: 0px 0px 20px 0px;
    padding: 0px 50px;
    border-radius: 8px;
}


#paral_art {
    width: 100%;
    /* height: 100%; */
}

#container-1 {
    position: relative;
}

/* #container-2 {
    position: relative;
    height: 768px;
    top: 768px;
    display: flexbox;
    background-color: rgba(28, 28, 36);
} */
