*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #19192200;
    font-family: 'Exo 2', sans-serif;
    color: rgb(208, 205, 214);
}

body {
    height: 100vh;
}

:root {
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #31313f;
    z-index: 100;
    transition: all 0.5s ease;
}

/* .sidebar .close {
    width: 78px;
} */

.sidebar .logo-details {
    height: 90px;
    width: 100%;
    align-items: center;
    cursor: pointer;
    display: flex;
    overflow: hidden;
}

.sidebar:hover {
    width: 300px;
    z-index: 100;
}

.sidebar .logo-details a {
    display: flex;
    text-decoration: none;
    align-items: center;
}


.sidebar .logo-details i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo-name {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    transition: 0.3s ease;
    transition-delay: 0.1s;
    text-align: center;
    display: inline-flex;
}

.sidebar .close .logo-details .logo-name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    margin-top: 20px;
    padding: 30px 0 10px 0;
    overflow: auto;
}

.sidebar .close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    background: #4e4c58;
}

.sidebar .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .close .nav-links li .icon-link {
    display: block;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li a {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.sidebar .nav-links li a .link-name {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
}

.sidebar .close .nav-links li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding:  6px 6px 14px 80px;
    margin-top: -10px;
    background: #363646;
    display: none;
}

.sidebar .nav-links li .showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar .close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar .close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link-name {
    display: none;
}

.sidebar .close .nav-links li .sub-menu .link-name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu .blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none
}

.sidebar .nav-links li:hover .sub-menu .blank {
    top: 50%;
    transform: translateY(-50%);
}

/* ======= MAP STYLE ======= */

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}







/* .learning-section {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: all 0.5s ease;
}

.sidebar .close ~ .learning-section {
    width: 100%;
}

.learning-section .learning-map {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 140px;
    padding-top: 100px;
    /* background: red; 
}

.learning-section .learning-map .map {
    position: relative;
    background: #404b5a;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map .map-row {
    height: 100%;
    background: rgb(25, 29, 46);
    display: flex;
    align-items: center;
    justify-content: center;
}

.map .section-card {
    height: 100px;
    width: 300px;
    background: #695cfe;
}

.learning-section .learning-map .map-content .map .map-row .map-btn {
    background: transparent;
    /* ==== некий скрипт при нажатии ==== 
}

.learning-section .learning-map .map-content i {
    color: #fff;
    font-size: 80px;
    margin: 20px 20px;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.5s ease;
}

.learning-section .learning-map .map-content i:hover {
    opacity: 1;
    transition: all 0.2s ease;
} */


@media (max-width: 400px) {
    .sidebar .close .nav-links li {
        display: none;
    }
    .sidebar {
        width: 78px;
    }
    .sidebar .close {
        width: 0;
    }

    .home-section {
        left: 78px;
        width: calc(100%-78px);
        z-index: 100;
    }
    .sidebar .close ~ .home-section {
        width: 100%;
        left: 0;
    }
}

